[submodule "src/python/minnow_drivers/pyUSFS"]
	path = src/python/minnow_drivers/pyUSFS
	url = https://github.com/nicrip/pyUSFS.git
[submodule "src/python/minnow_drivers/pyMS5837"]
	path = src/python/minnow_drivers/pyMS5837
	url = https://github.com/nicrip/pyMS5837.git
[submodule "src/python/minnow_drivers/pyZOEM8"]
	path = src/python/minnow_drivers/pyZOEM8
	url = https://github.com/nicrip/pyZOEM8.git
[submodule "src/cpp/cppzmq"]
	path = src/cpp/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "src/cpp/yaml-cpp"]
	path = src/cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "src/cpp/flatbuffers"]
	path = src/cpp/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "src/cpp/libi2c"]
	path = src/cpp/libi2c
	url = https://github.com/amaork/libi2c
